body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(219,61,111,1) 100%);
   
}
.all{
    display:grid;
    grid-template-columns: auto;
    
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
   
    padding-top: 0;
    margin: auto;
    min-height: 20vw;
}

.grid-item {
    padding: 20px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    width: 15vw;
    margin-top: 2.5vw;
    border-radius: 10px;
    border: 5px solid;
    box-shadow: 0px 0px 12px 3px white, 0 0px 20px 0 blue;
    
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;
    height: 1vw;
}

.grid-item2 {
    padding: 15px;
    margin-top: 1.5vw;
    font-size: 17px;
    font-weight: 700;
    font-family: titleFont;
    text-align: center;
    color:darkgray;
    margin-left: 30px;
    margin-right: 30px;
    width: 15vw;
    border: 5px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 3px white, 0 0px 10px 0 blue;
}

h1 {
    text-align: center;
    vertical-align: center;
    padding-top: 5vw;
    font-size: 100px;
    font-family: titleFont;

    order: 2;
    color: #fde9ff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: clamp(3rem, 10vw, 6rem);
    line-height: 0.75em;
    text-align: center;
    text-shadow: 3px 1px 1px #de9bbc, 2px 2px 1px #df66a3, 4px 2px 1px #de9bbc,
    3px 3px 1px #df66a3, 5px 3px 1px #de9bbc, 4px 4px 1px #df66a3,
    6px 4px 1px #de9bbc, 5px 5px 1px #df66a3, 7px 5px 1px #de9bbc,
    6px 6px 1px #df66a3, 8px 6px 1px #de9bbc, 7px 7px 10px white,
    9px 7px 20px blue;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@font-face {
    font-family: titleFont;
    src: url(../components/BILLD___.TTF);
}