.navbar {
    background-color: #e880a7;
    width: 100%;
    min-height: 7vw;
    display: block;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-bottom: 3px solid;
    border-top: 3px solid;
}

.nav-links {
    color: black;
    width: 40%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    vertical-align: center ;
}

.nav-links>a{
    color: black;
    text-decoration: none;
}

.dropdown{
    background-color: #EFC3E6;
    color: black;
    display: flex;
    justify-content: space-around;
}
